:root{
    --main-bg-color:#FFFFFF;
    --main-border-color:#D9D9D9;
}
.LoginForm {
    background: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    width: 400px;
    padding: 40px 40px 10px 40px !important;
    margin-top: 100px!important;
    margin-left: 630px!important;
}
